.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:rgb(33, 204, 33);
}


#hd3{
	display: inline-block;
	color: rgb(255, 230, 230);
	background-color: aliceblue;
	font-family: fantasy;
}
